a {
  text-decoration:none
}

input {
  outline: none;
  border: none;
}

.App {
  text-align: center;
  background-color: #efefef;
  height: 100%
}
.App .App-header h1 {
    float: left;
    max-width: 250px;
    margin: 0;
    overflow: hidden;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    text-decoration: inherit;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(to right,#1183fb,#0a48d1); 
  height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  padding: 0 20px;
}

.header-list {
  display: flex;
  list-style: none;
}

.header-list li {
  line-height: 30px;
  color: #fff;
  border-radius: 0;
  opacity: .9;
}

.inactive-li {
  padding: 10px 15px;
  cursor: pointer;
}

.inactive-li:hover {
  background: rgba(0,0,0,.1);
}

.active-li {
  padding: 10px 15px;
  font-weight: 700;
  background: rgba(0,0,0,.1);
  cursor: pointer;
}

.li-bar {
  display: block;
  width: 2px;
  height: 20px;
  margin: 15px;
  background: rgba(255,255,255,.4);
  padding: 0px;
}

.App-link {
  color: #61dafb;
}

.search-input {
  background: rgba(255, 255, 255, 0.157);
  width: 70px;
  padding: 1px 2px;
  text-align: center;
  margin-right: 0;
}

.mini-header {
  background: #fff;
  /* margin-top: 5px; */
  font-size: 14px;
  text-align: center;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-list {
  list-style: none;
  display: inline;
  padding: 8px 12px;
  line-height: 24px;
  color: #3c4353;
}

.mini-list:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.1);
}

.mini-bar {
  list-style: none;
  width: 2px;
  height: 20px;
  margin: 9px 5px;
  background-color: rgba(0,0,0,.05);
}

.mini-active-li {
  font-weight: 700;
  color: #0c64eb;
}
